@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins-Regular";
}

body {
  margin-top: 0px;
  background-image: url(../assets/bg-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #69707a;
  user-select: none;
}

main {
  margin-top: none;
}

.img-account-profile {
  height: 10rem;
}

.rounded-circle {
  border-radius: 50% !important;
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
  font-size: 20px;
  text-align: center;
}

.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(5, 36, 175, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.input,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-link {
  color: white;
}

.nav-borders .nav-link.active {
  color: aliceblue;
  border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.out {
  text-align: end;
  margin: 10px 0 0 830px;
}

.out a {
  text-decoration: none;
  color: white;
}

.out a:hover {
  text-decoration: none;
}

img {
  color: white;
  margin-left: 20px;
}

.btn {
  background-image: url(../assets/bg-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border: none;
}

.upload {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;
}

.logout {
  margin: 5px 0px 0px 1250px;
  padding: 5px;
  background-image: url(../assets/bg-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border: none;
}
